@media (min-width: 1200px) {

  #main,
  #footer {
    margin-left: 250px;
  }
}

#main {
  overflow-x: hidden;
  margin-top: 90px;
  padding: 5px;
}

.highlight-row {
  background-color: antiquewhite;
}

.custom-pagination {
  display: flex;
  justify-content: end;
}