<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center"><img alt="" class="img-fluid"
                    src="/images/11xplay/logo.png" /></a>
            <i class="bi bi-list-nested toggle-sidebar-btn ng-star-inserted"></i>
            <!---->
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <!----><!----><!----><!---->
                <li class="nav-item balance_li">
                    <a href="javascript:void(0);" class="nav-link"><i class="bi bi-bank"></i> Balance <b>0</b></a>
                </li>
                <li class="nav-item expo_li">
                    <a href="/market-analysis" routerlink="/market-analysis" class="nav-link"><i
                            class="bi bi-bar-chart"></i> expo. <b>0</b></a>
                </li>
            </ul>
        </nav>
        <!----><!---->
    </div>
</header>


<div class="commentary"><img src="/images/commentary.png" />
    <marquee>New Version Available With International Casino Please Contact Your Upline</marquee>
</div>


<div id="sidebar" class="sidebar">
    <ul id="sidebar-nav" class="sidebar-nav">
        <img class="mobile-logo" src="/images/11xplayy/logo.png" />
        <li class="nav-item d-none d-sm-block">
            <a class="nav-link final-link" href="/game-detail/28127348">
                <img src="https://speedcdn.io/assets/score_card/ipl-icon.png" /><span class="blinker">IPL
                    2025</span>
            </a>
        </li>
        <!----><!---->
        <li class="nav-item">
            <a [routerLink]="['/dashboard']" routerlinkactive="nmm-active" class="nav-link final-link nmm-active">
                <img src="/images/menu-home.png" /><span>home</span>
            </a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/multi-market']" routerlinkactive="nmm-active"
                class="nav-link multi-market final-link">
                <img src="/images/menu-market.png" /><span>Multi Market</span>
            </a>
        </li>
        <!---->
        <li class="nav-item">
            <a [routerLink]="['/profit-loss']" routerlinkactive="nmm-active"
                class="nav-link final-link">
                <img src="/images/profitloss.svg" class="img-fluid" /><span>profit &amp; loss</span>
            </a>
        </li>
        <!---->
        <li class="nav-item">
            <a [routerLink]="['/account-statement']" routerlinkactive="nmm-active" class="nav-link final-link">
                <img src="/images/statement.svg" class="img-fluid" /><span>Account statement</span>
            </a>
        </li>
        <!---->
        <li class="nav-item">
            <a [routerLink]="['/unsettled-bets']"  routerlinkactive="nmm-active"
                class="nav-link final-link">
                <img src="/images/bets.svg" class="img-fluid" /><span>unsettled bets</span>
            </a>
        </li>
        <!---->
        <li class="nav-item">
            <a [routerLink]="['/rules']" class="nav-link final-link"><img src="images/terms.svg"
                    class="img-fluid" /><span>rules</span></a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/stake-settings']" routerlinkactive="nmm-active"
                class="nav-link final-link">
                <img src="/images/edit.svg" class="img-fluid" /><span>edit stake</span>
            </a>
        </li>
        <!---->
        <li class="nav-item">
            <a [routerLink]="['/profile']" routerlinkactive="nmm-active" class="nav-link final-link">
                <img src="/images/profile_image.png" class="img-fluid" /><span>Profile (demo123)</span>
            </a>
        </li>
        <!---->
        <li class="nav-item nav-highlight" (click)="logout()">
            <a href="javascript:void(0);" class="nav-link final-link"><img src="/images/logout.svg"
                    class="img-fluid" /><span>Logout</span></a>
        </li>
        <!---->
    </ul>
</div>



<div class="coming-soon-container">
  <h1>🚧 Coming Soon</h1>
  <p>We’re working hard to bring something great. Stay tuned!</p>
</div>

